*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul,ol{
    list-style: none;
}

body{
    background: #E5E5E5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .container{
    width: 980px;
    margin: 0 auto;
} */

strong{
    display: block;
}

header{
    background: #010032;
    margin-bottom: 100px;
}

nav .nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav-box{
    width: 1600px;
    padding-top: 20px;
    margin: 0 auto;
}

.nav-text{
    width: 80px;
    height: 30px;
    font-size: 24px;
    font-weight: 648;
    color: white;
    letter-spacing: -1.5px;
}

.nav-list{
    margin-left: 520px;
    display: flex;
}

.nav-link{
   margin: 1px 20px;
   font-size: 18px;
   color: white;
   transition: .3s;
}

.nav-link:hover{
    cursor: pointer;
    transition: .3s;
    margin: 0 20px;
    transform: scale(1.1);
    border-bottom: solid 1px aqua;
    color:aqua;
    box-shadow: 0px 0px 100px 0px aqua;
}

.nav-link2{
    color: white;
    text-align: center;
    font-size:18px;
    margin-top: 1px;
}

.div-noviy:hover .noviy-all{
    display: block;
    cursor: pointer;
}

.nav-link1{
    margin: 1px 460px 0 20px;
    font-size: 18px;
    color: white;
    transition: .3s;
}

.nav-link1:hover{
    transition: .3s;
    cursor: pointer;
    /* margin: 0 240px 0 20px; */
    border-bottom: solid 1px aqua;
    transform: scale(1.1);
    color:aqua;
    box-shadow: 0px 0px 100px 0px aqua;
}

.fa-bars:hover{
    color: aqua;
    transition: .5s;
    cursor: pointer;
    box-shadow: 0px 0px 50px 0px aqua;
}


.main-all {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.main-left{
    width: 530px;
    margin-top: 100px;
}

.main-left h3{
    font-size: 72px;
    font-weight: 400;
    line-height: 70px;
    color: #ffffff;
    margin-bottom: 40px;
}

.main-left p{
    font-size: 22px;
    font-weight: 400;
    color: white;
    line-height: 34px;
    margin-bottom: 25px;
}

.main-left a p{
    height: 60px;
    width: 200px;
    color: black;
    margin-left: 15px;
    padding: 16px ;
    text-align: center;
    background: #FFFFFF;
    border-radius: 32px;
    font-size: 20px;
    margin-bottom: 100px;
    font-weight: 400;
    line-height: 25px;
    transition: 1s;

}

.main-left a :hover{
    cursor: pointer;
    background-color: aqua;
    transition: 1s;
    transform: scale(1.1);
    box-shadow: 0px 0px 150px 0px aqua;
}

.main-medal{
    height: 80px;
    width: 84px;
    font-size: 45px;
    background: #D8D8EB33;
    text-align: center;
    padding-top: 10px;
    border-radius: 50px;
    margin-left: 20px;
}

.main-cub{
    display: flex;
}

.main-text{
    margin-left: 20px;
    margin-top: 10px;
}

.main-text p:nth-child(1){
    margin: 0 ;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.main-text p:nth-child(2){
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF99;
    line-height: 22px;
}

.div-noviy{
    position: relative;
}

.noviy-all{
    width: 180px;
    height: 200px;
    position: absolute;
    word-spacing: 20px;
    right: 6px;
    top: 25px;
    padding: 0 25px;
    border-radius:10px;
    background-color:aqua;
    border-top-right-radius: 0;
    box-shadow: 0px 0px 200px 0px aqua;
    display: none;
}

.noviy-drop p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 3px;
    color: black;
    transition: .3s;
}

.noviy-drop p:hover{
    border-bottom:solid 1px black ;
    transition: .3s;
    cursor: pointer;
}

.sign-all{
    width: 300px;
    height: 300px;
    border-radius: 7px;
    box-shadow: 0px 0px 200px 0px rgb(174, 172, 172);
    background-color: rgb(174, 172, 172);
    display: none;
    position: absolute;
    right: 30px;
    padding-left: 20px;
}

.sign-all input{
    width: 250px;
    height: 35px;
    outline: none;
    border: none;
    background-color:rgb(174, 172, 172);
    border:  solid 2px rgba(7, 7, 7, 0.411);
    
}

.sign-all input:nth-child(1){
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.sign-all input:nth-child(2){
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 50px;
}

.sign:hover .sign-all{
    display: block;
    cursor: pointer;
}

.sign-all p{
    font-size: 18px;
    word-spacing: 0;
}

.sign{
    position: relative;
}
.registor{
    display: flex;
   
}

.registor-b{
    margin-left: 30px;
    width: 70px;
    height: 40px;
    text-align: center;
    border: 1px solid blue;
    transition: .7s;
}

.registor-b:hover{
    background-color: blue;
    box-shadow: 0px 0px 100px 0px blue;
    transition: .7s;
    cursor: pointer;
}

.a-icon{
    width: 140px;  
    display: flex;
    margin-bottom: 100px;
    margin-left: -80px;
    justify-content: space-between;
    transition: .7s;
}

.a-icon img{
    width: 100%;
    height: 100%;
    margin-right: 10px;
    margin-top: 5px;
    opacity: 0;
    transition: .3s;
}

.a-icon:hover img{
    opacity: 100;
    transform: translate(1px);
    transition: 1s;
}

.a-icon:hover{
    transform: translate(80px);
    transition: 1s;
}

.a-icon p{
    color:#4543E8;
    font-weight: 700;
}

.fa-star{
    font-size: 21px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.a-star{
    display: flex;
}

.a-text p{
    font-size: 21px;
    font-weight: 450;
    line-height: 29px;
}

.a-text{
    height: 112px;
    width: 360px;
}

.a-photo-all{
    display: flex;
    margin-top: 20px;
}

.a-photo-text{
    margin-top: 10px;
    margin-left: 20px;
}

.a-photo-text strong{
    margin-bottom: 15px;
    font-size: 18px;
}

.section-all{
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
}

.b-all{
    display: flex;
    justify-content: space-between;
}

.b-number p:nth-child(1){
    font-size: 60px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #4543E8;
    line-height: 66px;
}

.b-number p:nth-child(2){
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
}


.section-right{
    width: 800px;
}

.section-right strong{
    font-size: 58px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 50px;
}

.c-number{
    height: 100%;
    display: flex;
}

.c-number p{
    margin-left: 10px;
    margin-top: 4px;
    font-size: 21px;
    font-weight: 800;
    color: #010032;
}

.b-reklama-all{
    width: 870px;
    display: flex;
    margin-top: 80px;
    justify-content: space-between
}

.tion-text{
    width: 600px;
    font-size: 60px;
    font-weight: 400;
    line-height: 66px;
    margin-bottom: 80px;
}

.tion-photo{
    height: 700px;
    margin-bottom: 150px;
}

.text-all{
    width: 615px;
}

.text-all1{
    width: 500px;
}

.tion-photo strong{ 
    display: flex;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: space-between;
}

.tion-photo strong i{
    font-size: 12px;
}

.tion-photo p{
    width: 550px;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 28px;
}

.tion-all{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.text-all2{
    width: 800px;
}

.tion-photo:nth-child(3){
    margin-left: 650px;
}

.tion-photo strong:nth-child(3){
    width: 700px;
}

.tion-photo img{
    transition: 1s;
}

.tion-photo img:hover{
    transform: scale(1.03);
    transition: 1s;
    cursor: pointer;
}

.blue-phon{
    height: 160px;
    width: 160px;
    padding: 57px 46px;
    border-radius: 0px;
    background: #4543E8;
    margin-top: 150px;
}

.blue-phon p{
    font-size: 20px;
    font-weight: 500;
    color: white;
    line-height: 24px;
}

.all-photo{
    height: 600px;
}

.blue{
    background: #010032;
    padding-top: 100px;
}

.b-icon a{
    color: #D8D8EB;
    margin-left: 10px;
    margin-bottom: 20px;
}

.blue-text p{
    width: 350px;
    font-size: 50px;
    color: #ffffff;
    font-weight: 400;
    line-height: 58px;
}

.blue-all{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blue-icon strong{
    font-size: 30px;
    font-weight: 400;
    color: #D8D8EB;
    line-height: 30px;
    margin-bottom: 20px;
}

.blue-icon i{
    font-size: 55px;
    margin-bottom: 20px;
}

.blue-icon p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #D8D8EB;
}

.blue-icon{
    width: 290px;
    margin-left: 340px;
}

.blue-vector{
    width: 290px;
    margin-left: 100px;
}

.blue-vector strong{
    display: block;
    font-size: 26px;
    font-weight: 400;
    color: #D8D8EB;
    line-height: 30px;
    margin-bottom: 20px;
}

.blue-vector i{
    font-size: 55px;
    margin-bottom: 20px;
}

.blue-vector p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #D8D8EB;
}

.blue-start img{
    display: block;
    margin-top: 80px;
    margin-left: 170px;
    margin-bottom: 150px;
}

.blue-start a{
    margin-right: 100px;
    height: 69px;
    width: 272px;
    text-align: center;
    margin-top: 70px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
    background: #FFFFFF;
    border-radius: 32px;
    transition: 1s;
}

.blue-start a:hover{
    background-color: aqua;
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 200px 0px aqua;
}

.fa{
    color: #D8D8EB;
    transition: 1s;
}

.fa:hover{
    color: aqua;
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 100px 0px aqua;
}

.class-section{
    background: #D8D8EB;
    height: 1000px;
}

.class-icons{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 20px;
    cursor: pointer;
}

.class-icons img{
    height: 100%;
    margin-top: 8px;
    margin-left: -30px;
    opacity: 0;
}

.class-icons img:nth-child(1){
    margin-right:-30px;
}

.class-icons p{
    font-size: 16px;
    font-weight: 500;
    color: #4543E8;
    margin: 0 10px;
    line-height: 24px;
    letter-spacing: 2px;
}

.class-icons:hover img:nth-child(1){
    opacity: 100;
    transform: translate(-35px);
    transition: 1s;
}

.class-icons:hover img:nth-child(3){
    opacity: 100;
    transform: translate(30px);
    transition: 1s;
}

.class-all-text{
    width: 600px;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 400;
    line-height: 66px;
    text-align: center;
}

.class-text{
    height: 360px;
    width: 576px;
    background: #FFFFFF;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    padding: 30px;;
}

.class-text strong{
    font-size: 24px;
    margin-bottom:15px ;
    font-weight: 400;
    line-height: 30px;
}

.class-text p{
    width: 500px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.class-img{
    display: flex;
    margin-top: 30px
}

.class-name h6{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
}

.class-name{
    margin-left: 20px;
}

.class-all{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.class-text i{
    margin-right: 7px;
    margin-top: 20px;
}

.class-name p{
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.class-strelka{
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
}

.class-strelka i{
    margin-left: 5px;
    transition: .5s;
}

.class-strelka i:nth-child(1):hover{
    color: #4543E8;
    cursor: pointer;
    transition: .5s;
    transform: translate(-10px);
}

.class-strelka i:nth-child(2):hover{
    color: #4543E8;
    transition: .5s;
    cursor: pointer;
    transform: translate(10px);
}

.white{
    background: #E5E5E5;
    height: 1000px; 
    padding-top: 100px;
}

.white-text{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
}

.white-icon{
    margin-bottom: 20px;
}

.white-text strong{ 
    width: 450px;
    font-size: 60px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 1.3000000476837158px;
}

.white-text p{
    width: 370px;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 37px;
}

.white-icon a{
    color:#4543E8;
    font-weight: 700;
}

.white-can-box h1{
    color: #4543E8;
    font-size: 65px;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 30px;
}

.white-can{
    display: flex;
    justify-content: space-between;
   
}

.white-can-box strong{
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 30px;
}

.pipi{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px
}

.white-can-box p{
    width: 340px;       
    font-weight: 400;
    line-height: 28px;
}

.a{
    font-size: 50px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 53px;
    text-align: center;
}

.white-sec-photo strong{
    font-size: 24px;
    font-weight: 450;
    margin-top:10px;
    line-height: 30px;
}

.white-sec-photo p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.white-sec-photo-all{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.links{
    font-size: 20px;
    font-weight: 400;
    line-height: 19px; 
    margin: 100px auto;
    width: 180px;
    text-align: center;
    color: #4543E8;
}

.links:hover{
    border-bottom:1px solid  #4543E8 ;
    cursor: pointer;
}

.dir-text p{
    width: 600px;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 1.2000000476837158px;
    text-align: left;
}

.dir-text a{
    height: 65px;
    width: 274px;
    color: white;
    text-align: center;
    padding-top: 17px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    border-radius: 32px;
    background: #4543E8;
}

.dir-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-star{
    color:#4543E8;
    transition: 0.5s;
}

.fa-star:hover{
    color: #F5DB76;
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}


@media(max-width:1620px ){
    .nav-box{
        width: 1500px;
    }
}

@media(max-width:1520px ){
    .nav-box{
        width: 1400px;
    }
}

@media(max-width:1420px ){
    .nav-box{
        width: 1300px;
    }
}

@media(max-width:1320px ){
    .nav-box{
        width: 1200px;
    }
}

@media(max-width:1220px ){
    .nav-box{
        width: 1100px;
    }
}

@media(max-width:1120px ){
    .nav-box{
        width: 1000px;
    }
}

@media(max-width:1020px ){
    .nav-box{
        width: 900px;
    }
}







